.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d47a1;
  padding: 10px 40px;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 40px;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #90caf9;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.logo-link:hover {
  opacity: 0.8;
}